<div class="px-4 py-5 my-5 text-center">
  <%= link_to root_path do %>
    <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100" class="d-block mx-auto mb-4">
  <% end %>
  <h1 class="display-5 fw-bold text-body-emphasis">App Sound Cloud</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Simple Clone Play Music With Ruby on Rails and Stimulus.js.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
      <%= link_to 'Cadastrar-se', new_user_registration_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
    </div>
  </div>
</div>

<%= render 'shared/albums', albums: @albums %>

