<h1>Editing gender</h1>

<%= render "form", gender: @gender %>

<br>

<div>
  <%= link_to "Show this gender", @gender, class: 'btn btn-info' %> |
  <%= link_to "Back to genders", genders_path, class: 'btn btn-default' %>
</div>
